<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <fps>30</fps>
  <resolutionLevel>2</resolutionLevel>
  <inputDelay>0</inputDelay>
  <start>Enter</start>
  <select>Shift</select>
  <forward>Z</forward>
  <backward>X</backward>
  <up>Up</up>
  <down>Down</down>
  <left>Left</left>
  <right>Right</right>
  <sp1>A</sp1>
  <sp2>S</sp2>
  <fpsToggle>P</fpsToggle>
</Configuration>